[submit]
	action = rebase always
[access "refs/heads/*"]
	push = group gn-committers
	label-Commit-Queue = +0..+2 group Change Owner
	label-Commit-Queue = +0..+2 group gn-committers
	labelAs-Commit-Queue = +0..+2 group gn-scoped
	submit = group gn-committers
	submit = group gn-scoped
	label-Code-Review = -2..+2 group gn-committers
	label-Code-Review = block -2..+2 group Change Owner
[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyCondition = (is:ANY AND changekind:NO_CODE_CHANGE) OR changekind:NO_CHANGE
[plugin "jwtservice"]
	audience = https://api.cr.dev
